pip install sqlite3

In [2]:
import sqlite3
con = sqlite3.connect("mySqlData.db")

cur = con.cursor()

In [ ]:
cur.execute("CREATE TABLE person(name,age)")
my_tb = cur.execute("SELECT name FROM sqlite_master")
my_tb.fetchone()

In [ ]:
my_tb = cur.execute("SELECT name FROM sqlite_master WHERE name='car'")
print(my_tb.fetchone())

In [ ]:
cur.execute("INSERT INTO person VALUES ('ali',20)")
con.commit()

In [ ]:
cur.execute("INSERT INTO person VALUES ('mamad',20),('joe',24)")
con.commit()

In [ ]:
res = cur.execute("SELECT age FROM person")
print(res.fetchall())

In [ ]:
res = cur.execute("SELECT * FROM person")
print(res.fetchall())

In [7]:
data = [("san",23),("korosh",40)]

cur.executemany("INSERT INTO person VALUES(? ,?)",data)
con.commit()

In [10]:
for row in cur.execute("SELECT * FROM person ORDER BY age DESC"):
    print(row)

('korosh', 40)
('joe', 24)
('san', 23)
('ali', 20)
('ali', 20)
('mamad', 20)